@using Models
@model BooksViewModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" type="text/css" href="~/css/BookshelfIndex.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Novel Nest</title>
</head>
<body>
    <h1>Hi @Model.UserName, welcome to your library!</h1>
    <p>Add new books, add categories</p>
    <input class="btn" type="button" value="Create new category" onclick="location.href='@Url.Action("Category", "Category")'" />
    <input class="btn" type="button" value="Add new book" onclick="location.href='@Url.Action("NewBook", "Book")'" />
    <input class="btn" type="button" value="Edit books" onclick="location.href='@Url.Action("EditBook", "Book")'" />
    <div class="Searchbar">
        <input type="text" class="search-bar" id="searchInput" placeholder="Search book">
    </div>
    <div class="book-list">
        @foreach (var book in Model.Books)
        {
            <div class="books">
                <div class="book-title">@book.Title <br /> @book.Author</div>  @book.CategoryName
                <br />
                <button type="button" class="info-button" onclick="location.href='@Url.Action("BookInfo", "Bookshelf", new { bookId = book.Id })'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                    </svg>
                </button>
            </div>
        }
    </div>
    <script>
        const searchInput = document.getElementById('searchInput');
        const books = document.querySelectorAll('.books');

        searchInput.addEventListener('input', function () {
            const searchTerm = searchInput.value.trim().toLowerCase(); // Haal de zoekterm op en converteer naar lowercase

            books.forEach(function (book) {
                if (book.innerText.toLowerCase().includes(searchTerm)) {
                    book.style.display = 'block';
                } else {
                    book.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
